{% extends "portfolio/base.html" %}

{% block title %}
Projets | {{ profile.name }}
{% endblock %}


{% block content %}

<section class="page-header">

    <div class="container">

        <span>
            PORTFOLIO
        </span>

        <h1>
            Mes projets
        </h1>

        <p>
            Quelques projets logiciels, IoT et technologiques.
        </p>

    </div>

</section>


<section class="section">

    <div class="container">

        <div class="row g-4">

            {% for project in projects %}

            <div class="col-md-6 col-lg-4">

                <div class="project-card">

                    {% if project.image %}

                    <img
                        src="{{ project.image.url }}"
                        alt="{{ project.title }}"
                    >

                    {% else %}

                    <div class="project-placeholder">

                        <i class="bi bi-cpu"></i>

                    </div>

                    {% endif %}


                    <div class="project-content">

                        <h3>
                            {{ project.title }}
                        </h3>

                        <p>
                            {{ project.short_description }}
                        </p>

                        <div class="tech-list">

                            {% for tech in project.technology_list %}

                            <span>
                                {{ tech }}
                            </span>

                            {% endfor %}

                        </div>

                        <a
                            href="{{ project.get_absolute_url }}"
                            class="project-link"
                        >
                            Voir le projet
                            <i class="bi bi-arrow-right"></i>
                        </a>

                    </div>

                </div>

            </div>

            {% empty %}

            <div class="col-12 text-center">

                <h3>
                    Aucun projet pour le moment.
                </h3>

            </div>

            {% endfor %}

        </div>

    </div>

</section>

{% endblock %}