{% extends "portfolio/base.html" %}

{% block title %}
Services | {{ profile.name }}
{% endblock %}


{% block content %}

<section class="page-header">

    <div class="container">

        <span>
            SERVICES
        </span>

        <h1>
            Mes solutions
        </h1>

        <p>
            Des solutions technologiques adaptées aux besoins
            des particuliers, PME et organisations.
        </p>

    </div>

</section>


<section class="section">

    <div class="container">

        <div class="row g-4">

            {% for service in services %}

            <div class="col-md-6 col-lg-4">

                <div class="service-card service-large">

                    <div class="service-icon">

                        <i class="bi {{ service.icon }}"></i>

                    </div>

                    <h3>
                        {{ service.title }}
                    </h3>

                    <p>
                        {{ service.description }}
                    </p>

                    <a
                        href="{% url 'portfolio:contact' %}"
                        class="project-link"
                    >
                        Demander un devis
                        <i class="bi bi-arrow-right"></i>
                    </a>

                </div>

            </div>

            {% endfor %}

        </div>

    </div>

</section>

{% endblock %}